<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
    integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <style>
    body {
      text-align: center;
      margin: 2rem;
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
</head>

<body>

  <h1>Wish List Items!</h1>

  <div>
    {% if items.count %}
    <table>
      <thead>
        <tr>
          <th>Description</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        <tr>
          <td>
            {{ item.description }}
          </td>
          <td>
            <form method="POST" action="{% url 'delete' item.id %}">
              {% csrf_token%}
              <input type="submit" value="X">
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No Wish Items Exist</p>
    <hr>
    {% endif %}
  </div>
  <a href="{% url 'add' %}">
    <input type="submit" value="Add A Wish Item">
  </a>

</body>
</html>